/*-----------------------------------Main Setup-----------------------------------*/
:root {
    --background-color: #193c3e;
    --accent-color: #8b9bb4;
    --text-color: #5a6988;
    --hover-color: #3a4466;
    --page-margin: 15px;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
    background-color: var(--accent-color);
    box-shadow: 10px 10px 0px var(--text-color);
    height: 50px;
}

h1 {
    text-align: center;
    color: var(--text-color);
    transform: translate(0, 6px);
}
/*-------------------------------------------------------------------------------*/

/*-----------------------------------Search Setup-----------------------------------*/
content-container {
    margin: var(--page-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

search-container {
    flex: 1 1 24.5%;
    background-color: var(--accent-color);
    box-shadow: 10px 10px 0px var(--text-color);
}

h2 {
    color: var(--text-color);
    text-align: center;
}

input {
    width: 90%;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

#search-button {
    width: 90%;
    border-radius: 20px;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    border: 0px solid white;
    color: var(--accent-color);
    background-color: var(--text-color);
    font-weight: bolder;
    height: 25px;
}

#search-button:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}

hr {
    display: none;
    border: 1px solid var(--background-color);
    width: 90%;
}
/*---------------------------------------------------------------------------------*/

/*-----------------------------------Results Setup-----------------------------------*/
results-container {
    display: none;
    flex-direction: column;
    flex: 1 1 74.5%;
    background-color: var(--accent-color);
    box-shadow: 10px 10px 0px var(--text-color);
}

current-results {
    border: 2px solid var(--text-color);
    margin: var(--page-margin);
}

h3 {
    color: var(--text-color);
    text-align: center;
}

#week-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: var(--page-margin);
}

h4 {
    color: var(--text-color);
    text-align: center;
}

.history-button {
    margin-bottom: var(--page-margin);

    width: 50%;
    border-radius: 20px;
    border: 0px solid white;
    color: var(--accent-color);
    background-color: var(--text-color);
    font-weight: bolder;
    height: 25px;
}

.history-button:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.center-aligned {
    margin-left: 50%;
    transform: translate(-50%, 0);
}
/*-----------------------------------------------------------------------------------*/